@font-face {
    font-family: "Byekan";
    src: url("../fonts/Yekan.ttf") format("truetype");
}

body{
    font-size: 17px;
    font-size: "Byekan";
}

.orange{
    background: orange;
}
.blue{
    background: lightblue;
}
.violet{
    background: violet;
}
.green{
    background: lightgreen;
}
.red{
    background: lightcoral;
}