@font-face {
    font-family: "yekan";
    src: url("/fonts/Yekan.ttf") format("truetype");
}

body{
    font-size: 17px;
    font-size: "yekan";
}

.header , .footer{
    height: 100px;
    background: gray;
    font-size: 45px;
    text-align: center;
}
.orange{
    background: orange;
}
.blue{
    background: lightblue;
}
.violet{
    background: violet;
}
.green{
    background: lightgreen;
}
.red{
    background: lightcoral;
}