/* -----font----- */
@import url(http://awebfont.ir/css?id=1116);

body{
    font-size: 17px;
    font-family: 'B Yekan', tahoma, Arial;
}

/* ------color------ */
.orange{
    background: orange;
}
.blue{
    background: lightblue;
}
.violet{
    background: violet;
}
.green{
    background: lightgreen;
}
.red{
    background: lightcoral;
}

/* -----box shadow------ */
.box-shadow1{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.box-shadow2{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* -----padding----- */
.b-rad-5{
    border-radius: 5px;
}
.pad{
    padding: 25px 15px;
}
.pad2{
    padding: 15px 10px;
}
.p-right10{
    padding-right: 10px;
}

.p-top10{
    padding-top: 10px;
}
.p-top20{
    padding-top: 20px;
}
.p-top30{
    padding-top: 30px;
}
.p-top40{
    padding-top: 40px;
}
.p-top50{
    padding-top: 50px;
}
.p-top70{
    padding-top: 70px;
}

.p-bot10{
    padding-bottom: 10px;
}
.p-bot20{
    padding-bottom: 20px;
}
.p-bot30{
    padding-bottom: 30px;
}
.p-bot40{
    padding-bottom: 40px;
}
.p-bot50{
    padding-bottom: 50px;
}
.p-bot70{
    padding-bottom: 70px;
}


.menu{
    height: 100px;
    padding-top: 20px;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 15px;
}
.image{
    height: 400px;
    background-color: rgb(211, 163, 74);
    background-blend-mode: multiply;
    background-image: url("/images/page-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 80px;
}
i{
    font-size: 200px;
}

